body {
    margin: 0px;
    background-size: cover;
    background-color: #A70E00;
    height: 100%;
}

h1 {
    text-align: center;
    background-color: #FFE179;
    margin: 0px;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
}

.back-button-container {
    text-align: left;
    margin: 20px 0 0 20px;
}

.back-button {
    border: 3px solid #FFFFFF;
    background-color: rgb(31, 66, 155);
    border-radius: 20px;
    width: 100px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: gray;
    color: black;
}

form {
    margin-top: 30px;
    text-align: center;
    width: 25%;
}

fieldset {
    border-radius: 15px;
    padding: 20px;
}

label {
    color: #FFFFFF;
    font-size: 20px;
}

input[type="text"],
input[type="number"],
input[type="file"],
select,
textarea {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="file"] {
    background-color: #FFFFFF;
    cursor: pointer;
}

select {
    height: auto;
}

.description {
    height: 100px;
    text-align: left;
    vertical-align: top;
    resize: vertical;
}

form button {
    background-color: rgb(31, 66, 155);
    border-radius: 20px;
    width: 100px;
    height: 45px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-top: 10px;
    border: 3px solid #FFFFFF;
}

form button:hover {
    background-color: gray;
    color: black;
}

p {
    text-align: center;
    background-color: #FFE179;
    padding: 20px;
    margin: 0px;
}

footer {
    margin-top: 50px;
    text-align: center;
    background-color: #FFE179;
    padding: 10px;
    width: 100%;
}

option {
    color:black
}